.wideButton{background:var(--252e8bbe);color:var(--7ce581ca);text-align:center;font-size:clamp(0px,3vh,6vw);border-radius:clamp(0px,3vh,6vw);line-height:clamp(0px,8vh,16vw);margin:clamp(0px,3vh,6vw)}
